[Unit]
Description=Update newtab to the latest release
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/newtab-update
